/* #projects{
    border: 1px solid red;
}
#projects>#p1,#p2{
    border: 1px solid red;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}
#p1>#text{
    border: 1px solid red;
  
    width: 50%;
}
#p2>#text{
    border: 1px solid red;
    
    width: 50%;
}
#p1>#image{
    border: 1px solid red;
    width: 50%;
}
#p2>#image{
    
    width: 50%;
    border: 1px solid red;
}
#p1>#image>img{
    width: 100%;
    border: 1px solid red;
}
#p2>#image>img{
    width: 100%;
    border: 1px solid red;
} */



#projects > h1 {
    text-align: center;
    color: #05386b;
  font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    margin-top: 160px;
  }
 
  #p1 {
    display: flex;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: auto;
    margin-top: 50px;
   
  }

  #p2 {
    display: flex;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

  }
  #p1 > #text {
  
    width: 50%;
  }
  #p2 > #text {
 
    width: 50%;
  }
  #p1 > #image {
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    width: 50%;

  }
  #p2 > #image {
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    width: 50%;
  }
  #p1 > #image > img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
  }
  #p2 > #image > img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
  }
  #p2 > #image:hover {
transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#p1 > #image:hover {
transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



  @media all and (min-width: 767px) and (max-width: 1024px) {
    
    #p1 {
      display: block;
    }

    #p1 > #text {
    
      width: 100%;
      margin-bottom: 10px;
    }
    #p1 > #image > img {
      width: 100%;
      height: 50%;
    }
    #p1 > #image {
  
      width: 100%;
      margin: auto;
    }
    #p2 {
      display: block;
      margin-bottom: 60px;
    }
    #p2 > #text {
    
      width: 100%;
      margin-bottom: 10px;
    }
    #p2 > #image > img {
      width: 100%;
      height: 100%;
    }
    #p1 > #image > img {
        width: 100%;
        height: 100%;
      }
  
    #p2 > #image {
      
      width: 100%;
      margin: auto;
    }
  }
  @media all and (min-width: 1025px) and (max-width: 1399px) {
    #p2 > #image {
  
      display:grid;
      align-items: center;
    }
    #p1 > #image {
    
     display:grid;
     align-items: center;
    }
    #p2 > #image > img {
      width: 100%;
      height: 80%;
    
      display:grid;
     align-items: center;
    }
    #p1 > #image > img {
        width: 100%;
        height: 80%;
  
        display:grid;
        align-items: center;
      }
  }
  @media all and (min-width: 1025px) and (max-width: 1305px){
    #p1 {
      display: block;
      width: 90%;
    }

    #p1 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p1 > #image > img {
      width: 100%;
      height: 100%;
    }
    #p1 > #image {
     
      width: 80%;
      margin: auto;
    }
    #p2 {
      width: 90%;
      display: block;
      margin-bottom: 100px;
    }
    #p2 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p2 > #image > img {
      width: 100%;
      height: 100%;
    }

    #p2 > #image {

      width: 80%;
      margin: auto;
    }
  }
  #text > h2,
  h3 {
    text-align: center;
    color: #05386b;
    font-size: 25px;
    padding-top: 20px;
  font-family: 'Roboto Mono', monospace;
  }
  #text > li,
  h4 {
    color: #05386b;
    padding-left: 20px;
    font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  }
  #text > h4 {
    margin-top: 80px;
  }
 
  #buttons>button>a:hover{
    font-weight: bolder;
  }
  #buttons>button>a{
    text-decoration: none;
    color: #05386b;
   
  font-family: 'Roboto Mono', monospace;
  }
  #text > #buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;

    width: 50%;
    margin-top: 40px;
  }
  #text > #buttons > button {
    padding: 10px 20px;

    border: 1px solid rgb(248, 243, 243);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    cursor: pointer;

    font-size: 15px;
   
  font-family: 'Roboto Mono', monospace;

    border-radius: 20px;
margin-bottom: 60px;
    border: 1px solid #05386b;
  }

  @media all and (min-width: 340px) and (max-width: 490px) {
    #p1 {
      display: block;
      width: 90%;
    }
   #text li{
    font-size: 16px;
   }
    #p1 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p1 > #image > img {
      width: 100%;
      height: 100%;
    }
    #p1 > #image {
     
      width: 100%;
      margin: auto;
    }
    #p2 {
      width: 90%;
      display: block;
      margin-bottom: 100px;
    }
    #p2 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p2 > #image > img {
      width: 100%;
      height: 100%;
    }

    #p2 > #image {

      width: 100%;
      margin: auto;
    }
    #text >#buttons {
  
    

    width:90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  }

  @media all and (min-width: 766px) and (max-width: 1400px){
  #text > #buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;

    width:90%;
    margin-top: 20px;
    /* margin-bottom: 30px; */
  }


}
  @media all and (min-width: 490px) and (max-width: 766px) {
    #p1 {
      display: block;
      width: 80%;
    }
    #text > #buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;

    width:90%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
    #p1 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p1 > #image > img {
      width: 100%;
      height: 100%;
    }
    #p1 > #image {

      width: 100%;
      margin: auto;
    }
    #p2 {
      width: 80%;
      display: block;
      margin-bottom: 100px;
    }
    #p2 > #text {

      width: 100%;
      margin-bottom: 10px;
    }
    #p2 > #image > img {
      width: 100%;
      height: 100%;
    }

    #p2 > #image {

      width: 100%;
      margin: auto;
    }
  }
  #nav {
    display: flex;
    height: 10%;
    justify-content: end;
    align-items: center;
    background-color: #5cdb95;
  }
  #nav > h3:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }
  #nav > h3 {
    font-size: 22px;
    margin-right: 20px;

  font-family: 'Roboto Mono', monospace;
  }
  #nav > h3 > a {
    text-decoration: none;
    color: #05386b;
  }
  #nav > h3 > a:hover {
    text-decoration: none;
    color: white;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body{
    background-image: -webkit-linear-gradient(
     35deg,
      #8EE4AF 45%,
      #EDF5E1 10%
    );
  }